*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
}

.div-title{
    height:100px;
    text-align: center;
    margin-top: 20px;
}
.todo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    /* border: 1px solid black; */
}

.todo-input{
    margin:10px;
    padding: 10px 5px;
    font-size: 15px;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn-add{
    margin:10px;
    font-size: 15px;
    width:100px;
    height: 45px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
}

.btn-del{
    margin:10px;
    font-size: 15px;
    width:100px;
    height: 45px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
}
.tasks{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.text{
    /* margin-top: 10px; */
    font-weight: 700;
    margin:10px;
    padding: 10px 5px;
    width: 40%;
    height: 25px;
    text-wrap: wrap;
}